@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>I am container @ViewBag.MachineName</h1>
    <h2>Host name @ViewBag.HostName</h2>
    <h2>Dns Host name @ViewBag.DnsHostName</h2>
    <h2>Env Host name @ViewBag.EnvHostName</h2>
</div>
